html, body {
    font-family: 'Istok Web', sans-serif;
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    font-size: 18pt;
}

body {
    -webkit-text-size-adjust: none;
}

h1, h2, h3, h4, h5, h6 {
    padding: 0;
    margin: 0;
}

img {
    max-width: 100%;
    height: auto;
}

#container {
    height: 100%;
    width: 100%;
}

#header {
    font-size: 150%;
    background-color: #ccc;
    padding: 2px;
    text-align: center;
    border-bottom: 2px solid #999;
}

#content {
    width: 100%;
}

.content-item {
    margin: 8px;
    border: 1px solid #ddd;
    text-align: center;
    cursor: pointer;
}

a {
    text-decoration: none;
}

.content-item.add {
    color: #333;
    background-color: #bbb;
    border: 1px solid #aaa;
}

.counter-name {
    width: 75%;
    display: inline-block;
    background-color: #eee;
    margin-left: -1px;
    border-right: 1px solid #ddd;
}

.counter-stats {
    width: 25%;
    display: inline-block;
}

.counter-stats > .stats > .count {
    font-size: 75%;
    color: #666;
}

.hidden {
    display: none;
}

.pressed {
    background-color: #ccc;
}
