html, body {
    font-family: 'Istok Web', sans-serif;
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    font-size: 18pt;
}

body {
    -webkit-text-size-adjust: none;
}

h1, h2, h3, h4, h5, h6 {
    padding: 0;
    margin: 0;
}

img {
    max-width: 100%;
    height: auto;
}

#container {
    height: 100%;
    width: 100%;
}

#header {
    font-size: 150%;
    background-color: #ccc;
    padding: 2px;
    text-align: center;
    border-bottom: 2px solid #999;
}

#content {
    width: 100%;
}

a {
    text-decoration: none;
}

.hidden {
    display: none;
}

.pressed {
    background-color: #ccc!important;
}

form {
    width: 100%;
    text-align: center;
}

input[type="submit"] {
    font-size: 150%;
    font-family: 'Istok Web', sans-serif;
}

input[type="radio"] {
    font-size: 150%;
}

input {
    font-size: 125%;
}
