.content-item {
    margin: 8px;
    border: 1px solid #ddd;
    text-align: center;
    cursor: pointer;
}

.content-item.add {
    color: #333;
    background-color: #bbb;
    border: 1px solid #aaa;
}

.counter-name {
    width: 75%;
    display: inline-block;
    background-color: #eee;
    margin-left: -1px;
    border-right: 1px solid #ddd;
}

.counter-stats {
    width: 25%;
    display: inline-block;
}

.counter-stats > .stats > .count {
    font-size: 75%;
    color: #666;
}
