.counter-stats {
    width: 100%;
    display: inline-block;
    text-align: center;
}

.counter-stats > .stats > .label {
    display: inline-block;
    padding-right: 8px;
    font-size: 70%;
    color: #999;
}

.counter-stats > .stats > .count {
    display: inline-block;
    font-size: 75%;
    color: #666;
}
